monolog:
    channels:
        - deprecation # Deprecations are logged in the dedicated "deprecation" channel when it exists
when@dev:
    monolog:
        handlers:
            main:
                type: fingers_crossed
                action_level: error
                handler: filter_errors
                excluded_http_codes: [ 404, 405 ]
                channels: [ '!event', '!doctrine', '!console' ]

            filter_errors:
                type: filter
                handler: elastic_search
                min_level: error
                max_level: critical

            elastic_search:
                type: elastic_search
                level: debug
                elasticsearch:
                    id: 'Elastic\Elasticsearch\Client'
                index: 'appstream'
                document_type: '_doc'
                formatter: 'Ec\MicroserviceBundle\Logger\EcMonologFormatter'
                channels: [ '!event', '!doctrine', '!console' ]

            console:
                type: console
                process_psr_3_messages: false
                channels: [ '!event', '!doctrine', '!console' ]

                # optionally configure the mapping between verbosity levels and log levels
                verbosity_levels:
                    VERBOSITY_NORMAL: DEBUG

when@test:
    monolog:
        handlers:
            main:
                type: fingers_crossed
                action_level: error
                handler: filter_errors

            filter_errors:
                type: filter
                handler: elastic_search
                min_level: error
                max_level: critical

            elastic_search:
                type: elastic_search
                level: error
                elasticsearch:
                    id: 'Elastic\Elasticsearch\Client'
                index: 'appstream'
                document_type: '_doc'
                formatter: 'Ec\MicroserviceBundle\Logger\EcMonologFormatter'
                channels: [ '!event', '!doctrine', '!console' ]

when@prod:
    monolog:
        handlers:
            main:
                type: fingers_crossed
                action_level: error
                handler: filter_errors
                excluded_http_codes: [ 404, 405 ]
                buffer_size: 50 # How many messages should be saved? Prevent memory leaks

            filter_errors:
                type: filter
                handler: elastic_search
                min_level: error
                max_level: critical

            elastic_search:
                type: elastic_search
                level: error
                elasticsearch:
                    id: 'Elastic\Elasticsearch\Client'
                index: 'appstream'
                document_type: '_doc'
                formatter: 'Ec\MicroserviceBundle\Logger\EcMonologFormatter'
