/bin/*
!/bin/console
/var/*
/vendor
bitbucket-pipelines.yml
docker-compose.yml
Dockerfile
Makefile
release.config.js
.gitlab-ci.yml
.docker.env
.env
#.env.dist
.env.test
.dockerignore
/.git
/.idea
.editorconfig
.gitignore
.php-cs-fixer.cache
.phpunit.result.cache
infection.log
